<div class="col-sm-8">    
    <div class="jumbotron">
        <form action="" method="post">
          Board Name:<br>
          <input type="text" name="board_name" placeholder="Board Name">
          <br><br>
          <input type="submit" value="Create Board">
        </form>
    </div>
</div>