<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Author First Name:<br>
              <input type="text" name="first_name" value="Author First Name">
              <br><br>
              Author Last Name:<br>
              <input type="text" name="last_name" value="Author Last Name">
              <br><br>
               Author Email Address:<br>
              <input type="email" name="email" value="hello@manifest.com">
              <br><br>
              <input type="submit" value="Create Author">
            </form>
        </div>
</div>